
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

# CMake ignores
.cmake_build
bin/*.so
bin/*.dll
bin/*.exp
bin/*.ilk
bin/*.pdb
bin/*.lib
CMakeLists.txt.user
